@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
     display: none;
   }
   
   .no-scrollbar {
     -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
     scrollbar-width: none; /* Hide scrollbar for Firefox */
   }
   